# macOS
.DS_Store
.AppleDouble
.LSOverride

# Node
node_modules/
dist/
dist-pskz/
.angular/
npm-debug.log*

# Environment
.env
.env.local

# VS Code
.vscode/*
!.vscode/launch.json
!.vscode/tasks.json
!.vscode/settings.json
!.vscode/extensions.json
