DirectoryIndex index.php index.html

<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /BM-Monitor/

  # Редирект запросов к API в PHP
  RewriteRule ^api/(.*)$ api/index.php [QSA,L]

  # Отдача существующих файлов
  RewriteCond %{REQUEST_FILENAME} -f [OR]
  RewriteCond %{REQUEST_FILENAME} -d
  RewriteRule ^ - [L]

  # Все остальные запросы на Angular
  RewriteRule ^ index.html [L]
</IfModule>

Options -Indexes
AddDefaultCharset UTF-8

<IfModule mod_headers.c>
  Header set Access-Control-Allow-Origin "*"
  Header set Access-Control-Allow-Methods "GET, POST, OPTIONS"
  Header set Access-Control-Allow-Headers "Content-Type, Authorization, X-Requested-With"
</IfModule>